{
  "openapi": "3.0.3",
  "info": {
    "title": "Checkout API",
    "version": "v1",
    "description": "The Checkout API combines Payment API and Paylink API endpoints for managing Checkout payments, subscriptions, and Paylink payments."
  },
  "servers": [
    {
      "url": "https://api.dibspayment.eu"
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "The methods listed under this section handle a single payment object. [Create a new payment](#v1-payments-post) object whenever your customer places a new order. This will reserve the amount specified in the order. The payment object can be updated during the checkout using the methods: [Update reference information](#v1) and [Update order](#v1).<br /><br />When you ship the order, you should [charge the payment](#v1-payments). And if you need, the API also allows you to [cancel a payment](#v1) or [refund a customer](#v1-payments-refund-post). \\n\\n **Important note:** By default, our system does not automatically charge/capture the amount which has been reserved. Depending on your business model, you should decide on the way how to handle this process. It is our recommendation to do the setup for immediate charge/capture."
    },
    {
      "name": "Subscriptions",
      "description": "Subscriptions allow you to charge your customers on a regular basis, for example a monthly subscription for a product the customer must pay for every month.<br /><br />When a subscription is charged, a new payment object is created to represent the purchase of the subscription product.<br /><br />It is possible to verify and charge multiple subscriptions in bulk using the [Bulk charge subscriptions method](#v1-subscription-charges-post)."
    },
    {
      "name": "UnscheduledSubscriptions",
      "description": "Unscheduled subscriptions allow you to charge your customers at an unscheduled time interval with a variable amount, for example an automatic top-up agreement for a rail-card when the consumer drops below a certain stored value.<br /><br />When an unscheduled subscription is charged, a new payment object is created to represent the purchase of the unscheduled subscription product.<br /><br />It is possible to verify and charge multiple unscheduled subscriptions in bulk using the [Bulk charge unscheduled subscriptions method](#v1-unscheduled-subscription-charges-post)."
    },
    {
      "name": "CardPayment",
      "description": "Secure Card Payments are available for [PCI](https://en.wikipedia.org/wiki/Payment_Card_Industry_Data_Security_Standard) compliant merchants, that wish to reserve or directly capture payments on the behalf of their customers avoiding the [3DS authorization](https://en.wikipedia.org/wiki/3-D_Secure) step, assuming they've already pre-acquired authorizations from their customers in some other legal and compliant form."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks are **configured per payment** and can be specified in the request body of the following methods:<ul><li>[Create payment](#create-payment) using the [notifications](#v1-payments-post-body-notifications) property.</li><li>[Charge subscription](#charge-subscription) using the [notifications](#v1-subscriptions-subscriptionid-charges-post-body-notifications) property.</li></ul><br />For a complete reference of all available webhooks in Checkout, please see the [Webhooks reference page](/nexi-checkout/en-EU/api/webhooks). There is also a [guide dedicated to webhooks](/track-events-using-webhooks)."
    },
    {
      "name": "API Signature",
      "description": "For security reasons we want you to pass an API signature calculated with the API Secret of your instance. The API signature is a HMAC [RFC 2104](https://www.ietf.org/rfc/rfc2104.txt): spaces must be represented as: + ."
    },
    {
      "name": "Paylink",
      "description": ""
    },
    {
      "name": "Transaction",
      "description": ""
    }
  ],
  "paths": {
    "/v1/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create payment",
        "description": "Initializes a new payment object that becomes the object used throughout the checkout flow for a particular customer and order. Creating a payment object is the first step when you intend to accept a payment from your customer. Entering the amount 100 corresponds to 1 unit of the currency entered, such as e.g. 1 NOK. Typically you provide the following information:<ul><li>The **order details** including order items, total amount, and currency. </li><li>**Checkout page settings**, which specify what type of integration you want: a checkout page **embedded** on your site or a pre-built checkout page **hosted** by Nexi Group. You can also specify data about your customer so that your customer only needs to provide payment details on the checkout page.</li></ul>\r\nOptionally, you can also provide information regarding:<ul><li>**Notifications** if you want to be notified through **webhooks** when the status of the payment changes.</li><li>**Fees** added when using **payment methods** such as invoice.</li><li>**Charge** set to true so you can enable autocapture for **subscriptions**.</li></ul>\r\nOn success, this method returns a `paymentId` that can be used in subsequent requests to refer to the newly created payment object. Optionally, the response object will also contain a `hostedPaymentPageUrl`, which is the URL you should redirect to if using a hosted pre-built checkout page.",
        "operationId": "Create_payment",
        "parameters": [
          {
            "name": "CommercePlatformTag",
            "in": "header",
            "description": "An identifier of the ecommerce platform.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "checkout",
                  "order"
                ],
                "type": "object",
                "properties": {
                  "order": {
                    "required": [
                      "amount",
                      "currency",
                      "items"
                    ],
                    "type": "object",
                    "properties": {
                      "items": {
                        "type": "array",
                        "items": {
                          "required": [
                            "grossTotalAmount",
                            "name",
                            "netTotalAmount",
                            "quantity",
                            "reference",
                            "unit",
                            "unitPrice"
                          ],
                          "type": "object",
                          "properties": {
                            "reference": {
                              "type": "string",
                              "description": "A reference to recognize the product, usually the SKU (stock keeping unit) of the product.\r\nFor convenience in the case of refunds or modifications of placed orders, the reference should be unique for each variation of a product item (size, color, etc).\r\nThe maximum length is 128 characters. The following special characters are not supported: `<,>,\\\\`",
                              "nullable": true
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the product. The maximum length is 128 characters.\r\nThe following special characters are not supported: `<,>,\\\\`",
                              "nullable": true
                            },
                            "quantity": {
                              "type": "number",
                              "description": "The quantity of the product. The value can not be negative.",
                              "format": "double"
                            },
                            "unit": {
                              "type": "string",
                              "description": "The defined unit of measurement for the product, for example pcs, liters, or kg. The maximum length is 128 characters.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                              "nullable": true
                            },
                            "unitPrice": {
                              "type": "integer",
                              "description": "The price per unit excluding VAT. Note: The amount can be negative.",
                              "format": "int32"
                            },
                            "taxRate": {
                              "type": "integer",
                              "description": "The tax/VAT rate (in percentage times 100). For example, the value `2500` corresponds to 25%. Defaults to 0 if not provided. Must be between 0 and 99999. Tax Rate must be applied per unit.",
                              "format": "int32"
                            },
                            "taxAmount": {
                              "type": "integer",
                              "description": "The tax/VAT amount (`unitPrice` * `quantity` * `taxRate` / 10000). Defaults to 0 if not provided. `taxAmount` should include the total tax amount for the entire order item.",
                              "format": "int32"
                            },
                            "grossTotalAmount": {
                              "type": "integer",
                              "description": "The total amount including VAT (`netTotalAmount` + `taxAmount`). Note: The amount can be negative.",
                              "format": "int32"
                            },
                            "netTotalAmount": {
                              "type": "integer",
                              "description": "The total amount excluding VAT (`unitPrice` * `quantity`). Note: The amount can be negative.",
                              "format": "int32"
                            },
                            "imageUrl": {
                              "type": "string",
                              "description": "Url to image of the product.\r\nMeant to be configured before checkout is completed. Ignored on later operations like charging, refunding etc.\r\nCurrently affecting: Riverty Invoice.\r\nSupported size: width and height between 100 pixels and 1280 pixels. Supported formats: gif, jpeg(jpg), png, webp.",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false,
                          "description": "Represents a line of a customer order. An order item refers to a product that the customer has bought.\r\nA product can be anything from a physical product to an online subscription or shipping."
                        },
                        "description": "A list of order items. At least one item must be specified.",
                        "nullable": true
                      },
                      "amount": {
                        "type": "integer",
                        "description": "The total base amount of the order including VAT, if any. (Sum of all `grossTotalAmount`s in the order.)\r\nMust be higher than 0.",
                        "format": "int32",
                        "nullable": true
                      },
                      "currency": {
                        "type": "string",
                        "description": "The [currency](../#currency-and-amount) of the payment, for example 'SEK'.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                        "nullable": true
                      },
                      "reference": {
                        "type": "string",
                        "description": "A reference to recognize this order. Usually a number sequence (order number).\r\nThe maximum length is 128 characters. The following special characters are not supported: <, >, ', \", &, \\",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false,
                    "description": "Specifies an order associated with a payment. An order must contain at least one order item. The `amount` of the order must match the sum of the specified order items."
                  },
                  "checkout": {
                    "required": [
                      "termsUrl"
                    ],
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "Specifies where the checkout will be loaded if using an embedded checkout page. See also the `integrationType` property.\r\nThe maximum length is 256 characters.\r\nThe following special characters are not supported: `<,>,’,”,\\\\`",
                        "nullable": true
                      },
                      "integrationType": {
                        "type": "string",
                        "description": "Determines whether the checkout should be embedded in your webshop or if the checkout should be hosted by Nexi Group on a separate page. \r\nValid values are: `'EmbeddedCheckout'` (default), or `'HostedPaymentPage'`. \r\nPlease note that the string values are **case sensitive**.\r\n<ul><li>If set to `'EmbeddedCheckout'`, the checkout page will be embedded within an iframe on your website using the [Checkout JS SDK](/nexi-checkout/en-EU/api/checkout-js-sdk/). Using an embedded checkout page requires that you also specify the `url` property.</li><li>If set to `'HostedPaymentPage'`, your website should redirect the customer to the `hostedPaymentPageUrl` provided in the response body. Using a hosted checkout page requires that you specify the `returnUrl` property.</li></ul>",
                        "nullable": true
                      },
                      "returnUrl": {
                        "type": "string",
                        "description": "Specifies where your customer will return after a completed payment when using a hosted checkout page. See also the `integrationType` property.",
                        "nullable": true
                      },
                      "cancelUrl": {
                        "type": "string",
                        "description": "Specifies where your customer will return after a canceled payment when using a hosted checkout page. See also the `integrationType` property.",
                        "nullable": true
                      },
                      "consumer": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "The maximum length is 128 characters.\r\n The following special characters are not supported: <, >, ', \", &, \\\r\n ///",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "nullable": true
                          },
                          "shippingAddress": {
                            "required": [
                              "addressLine1",
                              "city",
                              "country",
                              "postalCode"
                            ],
                            "type": "object",
                            "properties": {
                              "addressLine1": {
                                "type": "string",
                                "description": "The primary address line. Must be between 1 and 128 characters. The following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              },
                              "addressLine2": {
                                "type": "string",
                                "description": "An additional address line. Must be between 1 and 128 characters. The following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              },
                              "postalCode": {
                                "type": "string",
                                "description": "The postal code. Postal codes per each country:\r\n**NOR, NO** - A four-digit code, for example, 0025.\r\n**SWE, SE** - A five-digit code, for example, 11455.\r\n**DNK, DK** - A four-digit code, for example, 2600.\r\n**Other** - Must be between 1 and 12 characters,\r\nthe following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              },
                              "city": {
                                "type": "string",
                                "description": "The city. Must be between 1 and 128 characters. The following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              },
                              "country": {
                                "type": "string",
                                "description": "A three-letter country code (ISO 3166-1), for example GBR. See also the [list of supported countries](/nexi-checkout/en-EU/api/#country-codes-and-phone-prefixes).\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "billingAddress": {
                            "required": [
                              "addressLine1",
                              "city",
                              "country",
                              "postalCode"
                            ],
                            "type": "object",
                            "properties": {
                              "addressLine1": {
                                "type": "string",
                                "description": "The primary address line. Must be between 1 and 128 characters. The following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              },
                              "addressLine2": {
                                "type": "string",
                                "description": "An additional address line. Must be between 1 and 128 characters. The following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              },
                              "postalCode": {
                                "type": "string",
                                "description": "The postal code. Postal codes per each country:\r\n**NOR, NO** - A four-digit code, for example, 0025.\r\n**SWE, SE** - A five-digit code, for example, 11455.\r\n**DNK, DK** - A four-digit code, for example, 2600.\r\n**Other** - Must be between 1 and 12 characters,\r\nthe following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              },
                              "city": {
                                "type": "string",
                                "description": "The city. Must be between 1 and 128 characters. The following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              },
                              "country": {
                                "type": "string",
                                "description": "A three-letter country code (ISO 3166-1), for example GBR. See also the [list of supported countries](/nexi-checkout/en-EU/api/#country-codes-and-phone-prefixes).\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "phoneNumber": {
                            "type": "object",
                            "properties": {
                              "prefix": {
                                "type": "string",
                                "description": "The [country calling code](https://en.wikipedia.org/wiki/List_of_country_calling_codes), for example +1.\r\nPattern: @ `^[+]\\\\d{1,3}$`.",
                                "nullable": true
                              },
                              "number": {
                                "type": "string",
                                "description": "The phone number (without the country code prefix).\r\nPattern: @ `^[0-9]*$`",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false,
                            "description": "An international phone number."
                          },
                          "privatePerson": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "description": "The first name (also known as given name).\r\nMust be between 1 and 128 characters.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              },
                              "lastName": {
                                "type": "string",
                                "description": "The last name (also known as surname/family name).\r\nMust be between 1 and 128 characters.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false,
                            "description": "The name of a natural person."
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the company.\r\nMust be between 1 and 128 characters.",
                                "nullable": true
                              },
                              "contact": {
                                "type": "object",
                                "properties": {
                                  "firstName": {
                                    "type": "string",
                                    "description": "The first name (also known as given name).\r\nMust be between 1 and 128 characters.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                                    "nullable": true
                                  },
                                  "lastName": {
                                    "type": "string",
                                    "description": "The last name (also known as surname/family name).\r\nMust be between 1 and 128 characters.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                                    "nullable": true
                                  }
                                },
                                "additionalProperties": false,
                                "description": "The name of a natural person."
                              }
                            },
                            "additionalProperties": false,
                            "description": "A business consumer."
                          }
                        },
                        "additionalProperties": false,
                        "description": "Contains information about the customer. If provided, this information will be used for initiating the consumer data of the payment object. See also the property `merchantHandlesConsumerData` which controls what fields to show on the checkout page."
                      },
                      "termsUrl": {
                        "type": "string",
                        "description": "The URL to the terms and conditions of your webshop.\r\nThe following special characters are not supported: `<,>,’,”,\\\\`",
                        "nullable": true
                      },
                      "merchantTermsUrl": {
                        "type": "string",
                        "description": "The URL to the privacy and cookie settings of your webshop.\r\nThe following special characters are not supported: `<,>,’,”,\\\\`",
                        "nullable": true
                      },
                      "shippingCountries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "countryCode": {
                              "type": "string",
                              "description": "A three-letter country code (ISO 3166-1), for example GBR. See also the [list of supported countries](/nexi-checkout/en-EU/api/#country-codes-and-phone-prefixes).\r\nImportant: For Klarna payments, the `countryCode` field is mandatory. If not provided, Klarna will not be available as a payment method.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false,
                          "description": "A country you provide shipping to."
                        },
                        "description": "An array of countries that limits the set of countries available for shipping. If left unspecified, [all countries supported by Easy Checkout](/nexi-checkout/en-EU/api/#country-codes-and-phone-prefixes) will be available for shipping on the checkout page.",
                        "nullable": true
                      },
                      "shipping": {
                        "type": "object",
                        "properties": {
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "countryCode": {
                                  "type": "string",
                                  "description": "A three-letter country code (ISO 3166-1), for example GBR. See also the [list of supported countries](/nexi-checkout/en-EU/api/#country-codes-and-phone-prefixes).\r\nImportant: For Klarna payments, the `countryCode` field is mandatory. If not provided, Klarna will not be available as a payment method.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false,
                              "description": "A country you provide shipping to."
                            },
                            "nullable": true
                          },
                          "merchantHandlesShippingCost": {
                            "type": "boolean",
                            "description": "If set to `true`, the payment order is required to be updated (using the [Update order](#v1-payments-paymentid-orderitems-put) method) with `shipping.costSpecified` set to `true` before the customer can complete a purchase. Defaults to `false` if not specified."
                          },
                          "enableBillingAddress": {
                            "type": "boolean",
                            "description": "If set to `true`, the customer is provided an option to specify separate addresses for billing and shipping on the checkout page. If set to `false`, the billing address is used as the shipping address."
                          }
                        },
                        "additionalProperties": false
                      },
                      "consumerType": {
                        "type": "object",
                        "properties": {
                          "default": {
                            "type": "string",
                            "description": "The checkout form defaults to this consumer type when first loaded.",
                            "nullable": true
                          },
                          "supportedTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The array of consumer types that should be supported on the checkout page. Allowed values are: 'B2B' and 'B2C'.",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false,
                        "description": "Configures which consumer types should be accepted. Defaults to 'B2C'.\r\n\r\nThese options are ignore if the property `merchantHandlesConsumerData` is set to `true`."
                      },
                      "charge": {
                        "type": "boolean",
                        "description": "If set to `true`, the transaction will be charged automatically after the reservation has been accepted. Default value is `false` if not specified."
                      },
                      "publicDevice": {
                        "type": "boolean",
                        "description": "If set to `true`, the checkout will not load any user data, and also the checkout will not remember the current consumer on this device. Default value is `false` if not specified."
                      },
                      "merchantHandlesConsumerData": {
                        "type": "boolean",
                        "description": "Allows you to initiate the checkout with customer data so that your customer only need to provide payment details. It is possible to exclude all consumer and company information from the payment (only for certain payment methods) when it is set to true. If you still want to add consumer information to the payment you need to use the `consumer` object (either a `privatePerson` or a `company`, not both)."
                      },
                      "appearance": {
                        "type": "object",
                        "properties": {
                          "displayOptions": {
                            "type": "object",
                            "properties": {
                              "showMerchantName": {
                                "type": "boolean",
                                "description": "If set to `true`, displays the merchant name above the checkout. Default value is `true` when using a `HostedPaymentPage`.",
                                "nullable": true
                              },
                              "showOrderSummary": {
                                "type": "boolean",
                                "description": "If set to `true`, displays the order summary above the checkout. Default value is `true` when using a `HostedPaymentPage`.",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false,
                            "description": "Controls what is displayed on the checkout page."
                          },
                          "textOptions": {
                            "type": "object",
                            "properties": {
                              "completePaymentButtonText": {
                                "type": "string",
                                "description": "Overrides payment button text. The following  predefined values are allowed: `pay`,  `purchase`, `order`, `book`, `reserve`, `signup`, `subscribe`, `accept`. The payment button text is localized.",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false,
                            "description": "Controls what text is displayed on the checkout page."
                          }
                        },
                        "additionalProperties": false,
                        "description": "Defines the appearance of the checkout page."
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "Merchant's three-letter checkout country code (ISO 3166-1), for example GBR. See also the [list of supported languages](/nexi-checkout/en-EU/api/#currency-and-amount).\r\nImportant: For Klarna payments, the `countryCode` field is mandatory. If not provided, Klarna will not be available as a payment method.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false,
                    "description": "Defines the behavior and style of the checkout page."
                  },
                  "merchantNumber": {
                    "type": "string",
                    "description": "The merchant number. Use this header only if you are a Nexi Group partner and initiating the checkout with your partner keys. If you are using the integration keys for your webshop, there is no need to specify this header.",
                    "nullable": true
                  },
                  "notifications": {
                    "type": "object",
                    "properties": {
                      "webHooks": {
                        "type": "array",
                        "items": {
                          "required": [
                            "eventName",
                            "url"
                          ],
                          "type": "object",
                          "properties": {
                            "eventName": {
                              "type": "string",
                              "description": "The name of the event you want to subscribe to. See [webhooks](#webhooks) for the complete list of events.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                              "nullable": true
                            },
                            "url": {
                              "type": "string",
                              "description": "The callback is sent to this URL. Must be HTTPS to ensure a secure communication.\r\nThe maximum allowed length of the URL is 256 characters.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                              "nullable": true
                            },
                            "authorization": {
                              "type": "string",
                              "description": "The credentials that will be sent in the HTTP Authorization request header of the callback.\r\nMust be between **8** and **64** characters long and contain **alphanumeric** characters.",
                              "nullable": true
                            },
                            "headers": {
                              "description": "A JArray of custom HTTP headers (name and value) to be sent with the HTTP callback request.",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false,
                          "description": "A webhook defines an HTTP callback that is triggered by a payment event."
                        },
                        "description": "The list of webhooks. The maximum number of webhooks is 32.",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false,
                    "description": "Notifications allow you to subscribe to status updates for a payment."
                  },
                  "subscription": {
                    "type": "object",
                    "properties": {
                      "subscriptionId": {
                        "type": "string",
                        "description": "The identifier of the subscription to be updated. If omitted, a new subscription will be created.",
                        "format": "uuid",
                        "nullable": true
                      },
                      "endDate": {
                        "type": "string",
                        "description": "The date and time when the subscription expires. It is not possible to charge this subscription after this date. The field has three components: date, time, and time zone (offset from GMT). For example: 2021-07-02T12:00:00.0000+02:00",
                        "format": "date-time",
                        "nullable": true
                      },
                      "interval": {
                        "type": "integer",
                        "description": "Defines the minimum number of days between each recurring charge. This interval commences from either the day the subscription was created or the most recent subscription charge, whichever is later. An interval value of 0 means that there are no payment interval restrictions.",
                        "format": "int32",
                        "nullable": true
                      },
                      "allowVariableAmount": {
                        "type": "boolean",
                        "description": "Allow variable amount for the subscription.",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false,
                    "description": "Defines the duration and interval when creating or updating a [subscription](#subscriptions)."
                  },
                  "unscheduledSubscription": {
                    "type": "object",
                    "properties": {
                      "create": {
                        "type": "boolean",
                        "description": "A flag indicating if a new unscheduled card on file agreement should be created. Can be omitted when updating an existing unscheduled card on file agreement.",
                        "nullable": true
                      },
                      "unscheduledSubscriptionId": {
                        "type": "string",
                        "description": "The identifier of the unscheduled card on file agreement to be updated. If omitted, a new unscheduled card on file agreement will be created.",
                        "format": "uuid",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false,
                    "description": "Defines the payment as one that should initiate or update an unscheduled card on file agreement"
                  },
                  "paymentMethodsConfiguration": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name of the payment method or payment type to be configured for payment.\r\nIf the specified payment method is not configured correctly in the merchant configurations then this won't take effect.\r\nPayment type cannot be specified alongside payment methods that belong to it, if it happens the request will fail with an error.\r\nPossible payment methods values: \"Visa\", \"MasterCard\", \"Dankort\", \"AmericanExpress\", \"Forbrugsforeningen\", \"PayPal\", \"Vipps\", \"MobilePay\", \"Swish\", \"Arvato\", \"EasyInvoice\", \"EasyInstallment\", \"EasyCampaign\", \"RatePayInvoice\", \"RatePayInstallment\", \"RatePaySepa\", \"Sofort\", \"Trustly\", \"ApplePay\", \"Klarna\", \"GooglePay\".\r\nPossible payment types values: \"Card\", \"Invoice\", \"Installment\", \"A2A\", \"Wallet\".",
                          "nullable": true
                        },
                        "enabled": {
                          "type": "boolean",
                          "description": "Indicates that the specified payment method/type is allowed to be used for this payment, defaults to true.\r\nIf one or more payment method/type is configured in the parent array then this value will be considered false for any other payment method that the parent array doesn't cover.",
                          "default": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "description": "Specifies payment methods configuration to be used for this payment, ignored if empty or null.\r\nAll available and configured payment methods are enabled by default.",
                    "nullable": true
                  },
                  "paymentMethods": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name of the payment method. \r\nPossible value currently is: 'easy-invoice'.",
                          "nullable": true
                        },
                        "fee": {
                          "required": [
                            "grossTotalAmount",
                            "name",
                            "netTotalAmount",
                            "quantity",
                            "reference",
                            "unit",
                            "unitPrice"
                          ],
                          "type": "object",
                          "properties": {
                            "reference": {
                              "type": "string",
                              "description": "A reference to recognize the product, usually the SKU (stock keeping unit) of the product.\r\nFor convenience in the case of refunds or modifications of placed orders, the reference should be unique for each variation of a product item (size, color, etc).\r\nThe maximum length is 128 characters. The following special characters are not supported: `<,>,\\\\`",
                              "nullable": true
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the product. The maximum length is 128 characters.\r\nThe following special characters are not supported: `<,>,\\\\`",
                              "nullable": true
                            },
                            "quantity": {
                              "type": "number",
                              "description": "The quantity of the product. The value can not be negative.",
                              "format": "double"
                            },
                            "unit": {
                              "type": "string",
                              "description": "The defined unit of measurement for the product, for example pcs, liters, or kg. The maximum length is 128 characters.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                              "nullable": true
                            },
                            "unitPrice": {
                              "type": "integer",
                              "description": "The price per unit excluding VAT. Note: The amount can be negative.",
                              "format": "int32"
                            },
                            "taxRate": {
                              "type": "integer",
                              "description": "The tax/VAT rate (in percentage times 100). For example, the value `2500` corresponds to 25%. Defaults to 0 if not provided. Must be between 0 and 99999. Tax Rate must be applied per unit.",
                              "format": "int32"
                            },
                            "taxAmount": {
                              "type": "integer",
                              "description": "The tax/VAT amount (`unitPrice` * `quantity` * `taxRate` / 10000). Defaults to 0 if not provided. `taxAmount` should include the total tax amount for the entire order item.",
                              "format": "int32"
                            },
                            "grossTotalAmount": {
                              "type": "integer",
                              "description": "The total amount including VAT (`netTotalAmount` + `taxAmount`). Note: The amount can be negative.",
                              "format": "int32"
                            },
                            "netTotalAmount": {
                              "type": "integer",
                              "description": "The total amount excluding VAT (`unitPrice` * `quantity`). Note: The amount can be negative.",
                              "format": "int32"
                            },
                            "imageUrl": {
                              "type": "string",
                              "description": "Url to image of the product.\r\nMeant to be configured before checkout is completed. Ignored on later operations like charging, refunding etc.\r\nCurrently affecting: Riverty Invoice.\r\nSupported size: width and height between 100 pixels and 1280 pixels. Supported formats: gif, jpeg(jpg), png, webp.",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false,
                          "description": "Represents a line of a customer order. An order item refers to a product that the customer has bought.\r\nA product can be anything from a physical product to an online subscription or shipping."
                        }
                      },
                      "additionalProperties": false,
                      "description": "A specification of a payment method and a fee associated with payment. The `fee` attribute makes it possible to charge an invoice fee towards the customer."
                    },
                    "nullable": true
                  },
                  "myReference": {
                    "type": "string",
                    "description": "Merchant payment reference\r\nThe maximum length is 36 characters.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                    "nullable": true
                  },
                  "additionalPaymentMethodData": {
                    "type": "object",
                    "properties": {
                      "riverty": {
                        "type": "object",
                        "properties": {
                          "orderReference": {
                            "type": "string",
                            "description": "Optional order reference that is later mapped to the parentTransactionReference in Riverty.\r\nIt must be unique across all payments and have a length less than 128 characters.",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "payPal": {
                        "type": "object",
                        "properties": {
                          "orderReference": {
                            "type": "string",
                            "description": "Order reference that is later mapped to the InvoiceId in PayPal.\r\nIf not provided we will generate it ourselves.\r\nIt must be unique across all payments and have a length less than 128 characters.",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "paymentId"
                  ],
                  "type": "object",
                  "properties": {
                    "paymentId": {
                      "type": "string",
                      "description": "The identifier (UUID) of the newly created payment object. Use this identifier in subsequent request when referring to the new payment.",
                      "nullable": true
                    },
                    "hostedPaymentPageUrl": {
                      "type": "string",
                      "description": "The URL your website should redirect to if using a hosted pre-built checkout page.",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "description": "An array of error messages.",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false,
                  "description": "Returned from the API when the request from the client could not be understood by the server. The object contains error messages for debugging purposes and are not meant to be presented to an end user."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "An internal error message. This message is not meant to be presented to the customer. Instead, this message can be logged and used for debugging purposes.",
                      "nullable": true
                    },
                    "code": {
                      "type": "string",
                      "description": "A numeric error code to be used for debugging purposes.",
                      "nullable": true
                    },
                    "source": {
                      "type": "string",
                      "description": "The source of the error, for example: 'internal'.",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false,
                  "description": "Contains information about an error (client error or server error)."
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve payment",
        "description": "<p>Retrieves the details of an existing payment. The `paymentId` is obtained from Nexi Group when [creating a payment object](#create-payment).</p>\r\n<h2>Rate Limiting</h2>\r\n<p>This endpoint is subject to rate limiting. Merchants are limited to 30 calls to retrieve a given payment per hour. Exceeding this limit will result in throttling, and further requests will be denied until the rate limit window resets.</p>",
        "operationId": "Retrieve_payment",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "The payment identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CommercePlatformTag",
            "in": "header",
            "description": "An identifier of the ecommerce platform.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment": {
                      "required": [
                        "checkout",
                        "created",
                        "orderDetails",
                        "paymentId"
                      ],
                      "type": "object",
                      "properties": {
                        "paymentId": {
                          "type": "string",
                          "description": "The payment identifier (a UUID).",
                          "format": "uuid",
                          "example": "0d0ed34848f545eaa7f9e07a6f6ff2d6"
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "reservedAmount": {
                              "type": "integer",
                              "description": "The base [amount](../#currency-and-amount) that has been reserved in the customer's bank account at the time of the purchase to make sure there are sufficient funds to charge the payment. See also the [Create payment](#v1-payments-post) method.",
                              "format": "int32",
                              "nullable": true
                            },
                            "reservedSurchargeAmount": {
                              "type": "integer",
                              "description": "The surcharge [amount](../#currency-and-amount) that has been reserved on top of the base amount.",
                              "format": "int32",
                              "nullable": true
                            },
                            "chargedAmount": {
                              "type": "integer",
                              "description": "The base [amount](../#currency-and-amount) that has been charged. See also the [Charge payment](#v1-payments-paymentid-charges-post) method.",
                              "format": "int32",
                              "nullable": true
                            },
                            "chargedSurchargeAmount": {
                              "type": "integer",
                              "description": "The surcharge [amount](../#currency-and-amount) that has been charged on top of the base amount.",
                              "format": "int32",
                              "nullable": true
                            },
                            "refundedAmount": {
                              "type": "integer",
                              "description": "The base [amount](../#currency-and-amount) that has been refunded. See also the [Refund payment](#v1-payments-paymentid-refunds-post) method.",
                              "format": "int32",
                              "nullable": true
                            },
                            "refundedSurchargeAmount": {
                              "type": "integer",
                              "description": "The surcharge [amount](../#currency-and-amount) that has been refunded on top of the base amount.",
                              "format": "int32",
                              "nullable": true
                            },
                            "cancelledAmount": {
                              "type": "integer",
                              "description": "The base [amount](../#currency-and-amount) that has been cancelled. See also the [Cancel payment](#v1-payments-paymentid-cancels-post) method.",
                              "format": "int32",
                              "nullable": true
                            },
                            "cancelledSurchargeAmount": {
                              "type": "integer",
                              "description": "The surcharge [amount](../#currency-and-amount) that has been cancelled on top of the base amount.",
                              "format": "int32",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false,
                          "description": "Summarizes the reserved, charged, refunded, and canceled amounts associated with a payment."
                        },
                        "consumer": {
                          "type": "object",
                          "properties": {
                            "shippingAddress": {
                              "type": "object",
                              "properties": {
                                "addressLine1": {
                                  "type": "string",
                                  "description": "The primary address line.",
                                  "nullable": true
                                },
                                "addressLine2": {
                                  "type": "string",
                                  "description": "An additional address line.",
                                  "nullable": true
                                },
                                "receiverLine": {
                                  "type": "string",
                                  "description": "The name (or company name) of the customer.",
                                  "nullable": true
                                },
                                "postalCode": {
                                  "type": "string",
                                  "description": "The postal code.",
                                  "nullable": true
                                },
                                "city": {
                                  "type": "string",
                                  "description": "The city.",
                                  "nullable": true
                                },
                                "country": {
                                  "type": "string",
                                  "description": "A three-letter country code (ISO 3166-1), for example GBR. See also the [list of supported languages](../api-overview).",
                                  "nullable": true
                                },
                                "phoneNumber": {
                                  "type": "object",
                                  "properties": {
                                    "prefix": {
                                      "type": "string",
                                      "description": "The [country calling code](https://en.wikipedia.org/wiki/List_of_country_calling_codes), for example +1.\r\nPattern: @ `^[+]\\\\d{1,3}$`.",
                                      "nullable": true
                                    },
                                    "number": {
                                      "type": "string",
                                      "description": "The phone number (without the country code prefix).\r\nPattern: @ `^[0-9]*$`",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false,
                                  "description": "An international phone number."
                                }
                              },
                              "additionalProperties": false
                            },
                            "company": {
                              "type": "object",
                              "properties": {
                                "merchantReference": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The company name.",
                                  "nullable": true
                                },
                                "registrationNumber": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "contactDetails": {
                                  "type": "object",
                                  "properties": {
                                    "firstName": {
                                      "type": "string",
                                      "description": "The first name (also known as given name).",
                                      "nullable": true
                                    },
                                    "lastName": {
                                      "type": "string",
                                      "description": "The last name (also known as surname/family name).",
                                      "nullable": true
                                    },
                                    "email": {
                                      "type": "string",
                                      "description": "The email address.",
                                      "nullable": true
                                    },
                                    "phoneNumber": {
                                      "type": "object",
                                      "properties": {
                                        "prefix": {
                                          "type": "string",
                                          "description": "The [country calling code](https://en.wikipedia.org/wiki/List_of_country_calling_codes), for example +1.\r\nPattern: @ `^[+]\\\\d{1,3}$`.",
                                          "nullable": true
                                        },
                                        "number": {
                                          "type": "string",
                                          "description": "The phone number (without the country code prefix).\r\nPattern: @ `^[0-9]*$`",
                                          "nullable": true
                                        }
                                      },
                                      "additionalProperties": false,
                                      "description": "An international phone number."
                                    }
                                  },
                                  "additionalProperties": false,
                                  "description": "Information about the contact person for a company."
                                }
                              },
                              "additionalProperties": false
                            },
                            "privatePerson": {
                              "type": "object",
                              "properties": {
                                "merchantReference": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "dateOfBirth": {
                                  "type": "string",
                                  "description": "The date on which the customer was born.",
                                  "format": "date-time",
                                  "nullable": true
                                },
                                "firstName": {
                                  "type": "string",
                                  "description": "The first name (also known as given name).",
                                  "nullable": true
                                },
                                "lastName": {
                                  "type": "string",
                                  "description": "The last name (also known as surname/family name).",
                                  "nullable": true
                                },
                                "email": {
                                  "type": "string",
                                  "description": "The email address.",
                                  "nullable": true
                                },
                                "phoneNumber": {
                                  "type": "object",
                                  "properties": {
                                    "prefix": {
                                      "type": "string",
                                      "description": "The [country calling code](https://en.wikipedia.org/wiki/List_of_country_calling_codes), for example +1.\r\nPattern: @ `^[+]\\\\d{1,3}$`.",
                                      "nullable": true
                                    },
                                    "number": {
                                      "type": "string",
                                      "description": "The phone number (without the country code prefix).\r\nPattern: @ `^[0-9]*$`",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false,
                                  "description": "An international phone number."
                                }
                              },
                              "additionalProperties": false
                            },
                            "billingAddress": {
                              "type": "object",
                              "properties": {
                                "addressLine1": {
                                  "type": "string",
                                  "description": "The primary address line.",
                                  "nullable": true
                                },
                                "addressLine2": {
                                  "type": "string",
                                  "description": "An additional address line.",
                                  "nullable": true
                                },
                                "receiverLine": {
                                  "type": "string",
                                  "description": "The name (or company name) of the customer.",
                                  "nullable": true
                                },
                                "postalCode": {
                                  "type": "string",
                                  "description": "The postal code.",
                                  "nullable": true
                                },
                                "city": {
                                  "type": "string",
                                  "description": "The city.",
                                  "nullable": true
                                },
                                "country": {
                                  "type": "string",
                                  "description": "A three-letter country code (ISO 3166-1), for example GBR. See also the [list of supported languages](../api-overview).",
                                  "nullable": true
                                },
                                "phoneNumber": {
                                  "type": "object",
                                  "properties": {
                                    "prefix": {
                                      "type": "string",
                                      "description": "The [country calling code](https://en.wikipedia.org/wiki/List_of_country_calling_codes), for example +1.\r\nPattern: @ `^[+]\\\\d{1,3}$`.",
                                      "nullable": true
                                    },
                                    "number": {
                                      "type": "string",
                                      "description": "The phone number (without the country code prefix).\r\nPattern: @ `^[0-9]*$`",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false,
                                  "description": "An international phone number."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "additionalProperties": false
                        },
                        "paymentDetails": {
                          "type": "object",
                          "properties": {
                            "paymentType": {
                              "type": "string",
                              "description": "The type of payment. Possible values are: 'CARD', 'INVOICE', 'A2A', 'INSTALLMENT', 'WALLET', and 'PREPAID-INVOICE'.",
                              "nullable": true
                            },
                            "paymentMethod": {
                              "type": "string",
                              "description": "The payment method, for example Visa or Mastercard.",
                              "nullable": true
                            },
                            "invoiceDetails": {
                              "type": "object",
                              "properties": {
                                "invoiceNumber": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false
                            },
                            "cardDetails": {
                              "type": "object",
                              "properties": {
                                "maskedPan": {
                                  "type": "string",
                                  "description": "A masked version of the PAN (Primary Account Number). At maximum, only the first six and last four digits of the account number are displayed.",
                                  "nullable": true
                                },
                                "expiryDate": {
                                  "type": "string",
                                  "description": "The four-digit expiration date of the payment card. The format should be: MMYY.",
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "additionalProperties": false
                        },
                        "orderDetails": {
                          "required": [
                            "amount",
                            "currency"
                          ],
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "integer",
                              "description": "The total base [amount](../#currency-and-amount) of the order, for example 10000. Must be higher than 0.",
                              "format": "int32"
                            },
                            "currency": {
                              "type": "string",
                              "description": "The [currency](../#currency-and-amount) of the payment, for example 'SEK'.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                              "nullable": true
                            },
                            "reference": {
                              "type": "string",
                              "description": "The reference to recognize this order. Usually a number sequence provided when [creating](#v1-payments-create-payment-post) or [updating](#v1-update-order-put) the payment.",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false
                        },
                        "checkout": {
                          "required": [
                            "url"
                          ],
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "The URL to the hosted or embedded checkout page.",
                              "nullable": true
                            },
                            "cancelUrl": {
                              "type": "string",
                              "description": "The URL to the page responsible for handling a canceled checkout.",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false
                        },
                        "created": {
                          "type": "string",
                          "description": "The date and time when the payment was initiated.",
                          "format": "date-time"
                        },
                        "refunds": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "refundId": {
                                "type": "string",
                                "description": "A unique identifier of this refund.",
                                "format": "uuid",
                                "example": "cba351eafdd04beabcdcd6e1154de7ae"
                              },
                              "amount": {
                                "type": "integer",
                                "description": "The base [amount](../#currency-and-amount) of the refund.",
                                "format": "int32"
                              },
                              "surchargeAmount": {
                                "type": "integer",
                                "description": "The surcharge [amount](../#currency-and-amount) of the refund. It might not be populated until the operation is completed.",
                                "format": "int32"
                              },
                              "state": {
                                "type": "string",
                                "description": "The current state of the refund. Possible values are: 'Pending', 'Cancelled', 'Failed',  'Completed', 'Expired'.",
                                "nullable": true
                              },
                              "lastUpdated": {
                                "type": "string",
                                "description": "The date and time when the refund was last updated.",
                                "format": "date-time"
                              },
                              "orderItems": {
                                "type": "array",
                                "items": {
                                  "required": [
                                    "grossTotalAmount",
                                    "name",
                                    "netTotalAmount",
                                    "quantity",
                                    "reference",
                                    "unit",
                                    "unitPrice"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "reference": {
                                      "type": "string",
                                      "description": "A reference to recognize the product, usually the SKU (stock keeping unit) of the product.\r\nFor convenience in the case of refunds or modifications of placed orders, the reference should be unique for each variation of a product item (size, color, etc).\r\nThe maximum length is 128 characters. The following special characters are not supported: `<,>,\\\\`",
                                      "nullable": true
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the product. The maximum length is 128 characters.\r\nThe following special characters are not supported: `<,>,\\\\`",
                                      "nullable": true
                                    },
                                    "quantity": {
                                      "type": "number",
                                      "description": "The quantity of the product. The value can not be negative.",
                                      "format": "double"
                                    },
                                    "unit": {
                                      "type": "string",
                                      "description": "The defined unit of measurement for the product, for example pcs, liters, or kg. The maximum length is 128 characters.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                                      "nullable": true
                                    },
                                    "unitPrice": {
                                      "type": "integer",
                                      "description": "The price per unit excluding VAT. Note: The amount can be negative.",
                                      "format": "int32"
                                    },
                                    "taxRate": {
                                      "type": "integer",
                                      "description": "The tax/VAT rate (in percentage times 100). For example, the value `2500` corresponds to 25%. Defaults to 0 if not provided. Must be between 0 and 99999. Tax Rate must be applied per unit.",
                                      "format": "int32"
                                    },
                                    "taxAmount": {
                                      "type": "integer",
                                      "description": "The tax/VAT amount (`unitPrice` * `quantity` * `taxRate` / 10000). Defaults to 0 if not provided. `taxAmount` should include the total tax amount for the entire order item.",
                                      "format": "int32"
                                    },
                                    "grossTotalAmount": {
                                      "type": "integer",
                                      "description": "The total amount including VAT (`netTotalAmount` + `taxAmount`). Note: The amount can be negative.",
                                      "format": "int32"
                                    },
                                    "netTotalAmount": {
                                      "type": "integer",
                                      "description": "The total amount excluding VAT (`unitPrice` * `quantity`). Note: The amount can be negative.",
                                      "format": "int32"
                                    },
                                    "imageUrl": {
                                      "type": "string",
                                      "description": "Url to image of the product.\r\nMeant to be configured before checkout is completed. Ignored on later operations like charging, refunding etc.\r\nCurrently affecting: Riverty Invoice.\r\nSupported size: width and height between 100 pixels and 1280 pixels. Supported formats: gif, jpeg(jpg), png, webp.",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false,
                                  "description": "Represents a line of a customer order. An order item refers to a product that the customer has bought.\r\nA product can be anything from a physical product to an online subscription or shipping."
                                },
                                "description": "The list of returned and canceled order items that are associated with the refund. At least one order item is required.",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false,
                            "description": "Contains information about an active, canceled, or completed refund. Each refund is associated with a payment and one or multiple order items."
                          },
                          "description": "An array of all the refunds associated with this payment.",
                          "nullable": true
                        },
                        "charges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "chargeId": {
                                "type": "string",
                                "description": "A unique identifier of the charge.",
                                "format": "uuid",
                                "example": "d7a532b6037d4f5e864472c3b829d287"
                              },
                              "amount": {
                                "type": "integer",
                                "description": "The base [amount](../#currency-and-amount) of the charge.",
                                "format": "int32"
                              },
                              "surchargeAmount": {
                                "type": "integer",
                                "description": "The surcharge [amount](../#currency-and-amount) of the charge. It might not be populated until the operation is completed.",
                                "format": "int32"
                              },
                              "created": {
                                "type": "string",
                                "description": "The date and time when the charge was initiated.",
                                "format": "date-time"
                              },
                              "orderItems": {
                                "type": "array",
                                "items": {
                                  "required": [
                                    "grossTotalAmount",
                                    "name",
                                    "netTotalAmount",
                                    "quantity",
                                    "reference",
                                    "unit",
                                    "unitPrice"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "reference": {
                                      "type": "string",
                                      "description": "A reference to recognize the product, usually the SKU (stock keeping unit) of the product.\r\nFor convenience in the case of refunds or modifications of placed orders, the reference should be unique for each variation of a product item (size, color, etc).\r\nThe maximum length is 128 characters. The following special characters are not supported: `<,>,\\\\`",
                                      "nullable": true
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the product. The maximum length is 128 characters.\r\nThe following special characters are not supported: `<,>,\\\\`",
                                      "nullable": true
                                    },
                                    "quantity": {
                                      "type": "number",
                                      "description": "The quantity of the product. The value can not be negative.",
                                      "format": "double"
                                    },
                                    "unit": {
                                      "type": "string",
                                      "description": "The defined unit of measurement for the product, for example pcs, liters, or kg. The maximum length is 128 characters.\r\nThe following special characters are not supported: <, >, ', \", &, \\",
                                      "nullable": true
                                    },
                                    "unitPrice": {
                                      "type": "integer",
                                      "description": "The price per unit excluding VAT. Note: The amount can be negative.",
                                      "format": "int32"
                                    },
                                    "taxRate": {
                                      "type": "integer",
                                      "description": "The tax/VAT rate (in percentage times 100). For example, the value `2500` corresponds to 25%. Defaults to 0 if not provided. Must be between 0 and 99999. Tax Rate must be applied per unit.",
                                      "format": "int32"
                                    },
                                    "taxAmount": {
                                      "type": "integer",
                                      "description": "The tax/VAT amount (`unitPrice` * `quantity` * `taxRate` / 10000). Defaults to 0 if not provided. `taxAmount` should include the total tax amount for the entire order item.",
                                      "format": "int32"
                                    },
                                    "grossTotalAmount": {
                                      "type": "integer",
                                      "description": "The total amount including VAT (`netTotalAmount` + `taxAmount`). Note: The amount can be negative.",
                                      "format": "int32"
                                    },
                                    "netTotalAmount": {
                                      "type": "integer",
                                      "description": "The total amount excluding VAT (`unitPrice` * `quantity`). Note: The amount can be negative.",
                                      "format": "int32"
                                    },
                                    "imageUrl": {
                                      "type": "string",
                                      "description": "Url to image of the product.\r\nMeant to be configured before checkout is completed. Ignored on later operations like charging, refunding etc.\r\nCurrently affecting: Riverty Invoice.\r\nSupported size: width and height between 100 pixels and 1280 pixels. Supported formats: gif, jpeg(jpg), png, webp.",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false,
                                  "description": "Represents a line of a customer order. An order item refers to a product that the customer has bought.\r\nA product can be anything from a physical product to an online subscription or shipping."
                                },
                                "description": "The array of order items associated with the charge.",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false,
                            "description": "Contains information about a partial or full charge. A charge is always associated with one or multiple order items."
                          },
                          "nullable": true
                        },
                        "terminated": {
                          "type": "string",
                          "description": "The date and time of termination. Only present if the payment has been terminated.",
                          "format": "date-time",
                          "nullable": true
                        },
                        "subscription": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The subscription identifier (a UUID).",
                              "format": "uuid",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false,
                          "description": "The subscription identifier."
                        },
                        "unscheduledSubscription": {
                          "type": "object",
                          "properties": {
                            "unscheduledSubscriptionId": {
                              "type": "string",
                              "description": "The unscheduled subscription identifier (a UUID).",
                              "format": "uuid",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false,
                          "description": "The unscheduled subscription identifier."
                        },
                        "myReference": {
                          "type": "string",
                          "description": "Merchant payment reference",
                          "nullable": true
                        },
                        "paymentAccountReference": {
                          "type": "string",
                          "description": "The merchant can use this field to recognize if the same cardholder is re-visiting.",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false,
                      "description": "Contains all information about a payment."
                    }
                  },
                  "additionalProperties": false,
                  "description": "The response returned from a successful call to the [Retrieve payment](#v1-payments-paymentid-get) method."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "description": "An array of error messages.",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false,
                  "description": "Returned from the API when the request from the client could not be understood by the server. The object contains error messages for debugging purposes and are not meant to be presented to an end user."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "An internal error message. This message is not meant to be presented to the customer. Instead, this message can be logged and used for debugging purposes.",
                      "nullable": true
                    },
                    "code": {
                      "type": "string",
                      "description": "A numeric error code to be used for debugging purposes.",
                      "nullable": true
                    },
                    "source": {
                      "type": "string",
                      "description": "The source of the error, for example: 'internal'.",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false,
                  "description": "Contains information about an error (client error or server error)."
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentId}/referenceinformation": {
      "put": {
        "tags": [
          "Payments"
        ],
        "summary": "Update reference information",
        "description": "Updates the specified payment object with a new `reference` string and a `checkoutUrl`. \r\n\r\nIf you instead want to update the **order** of a payment object, use the [Update order](#update-order-items) method.",
        "operationId": "Update_reference_information",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "The payment identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CommercePlatformTag",
            "in": "header",
            "description": "An identifier of the ecommerce platform.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "checkoutUrl",
                  "reference"
                ],
                "type": "object",
                "properties": {
                  "checkoutUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "reference": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "description": "An array of error messages.",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false,
                  "description": "Returned from the API when the request from the client could not be understood by the server. The object contains error messages for debugging purposes and are not meant to be presented to an end user."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "An internal error message. This message is not meant to be presented to the customer. Instead, this message can be logged and used for debugging purposes.",
                      "nullable": true
                    },
                    "code": {
                      "type": "string",
                      "description": "A numeric error code to be used for debugging purposes.",
                      "nullable": true
                    },
[...]
